.btn-info {
    margin-bottom: 20px;
}

table a {
    text-decoration: none;
    color: #000000;
}

table a:hover {
    text-decoration: none;
    color: #000000;
}

table td:hover {
    background-color: #b0d4f1;
}

.table-superhero-image {
    height: 100px;
    width: 100px;
}

.superhero-image {
    height: 150px;
    width: 150px;
}

.superhero-galery {
    margin-top: 20px;
}

.superhero-image-delete {
    visibility: hidden;
}

.card:hover .superhero-image-delete {
    visibility: visible;
}

.superhero-image {
    height: 300px;
    width: 200px;
}

.superhero-image img {
    height: 300px;
    width: 200px;
}

.superhero-card-image {
    height: 100px;
    width: 100px;
    margin-right: 0;
}

.btn-success {
    margin-top: 20px;
}

.show-superhero-image:hover {
    border: 1px solid #b0d4f1;
    border-radius: 2px;
}
